.content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.content__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content__product {
  display: flex;
  width: 400px;
}

@media (max-width: 1024px) {
  .content__product {
    display: flex;
    width: 250px;
  }
}
@media (max-width: 768px) {
  .content__product {
    display: flex;
    width: 200px;
  }
}
