:root {
  --primary: #ffdcba;
}

.grid {
  display: grid;
  grid-template-columns: 0.3fr 3fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header {
  height: 60px;
  align-items: center;
}

.header__logo {
  width: 205px;
}
.header__search {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 35px;
  width: 80%;
}
.header__searchIcon {
  height: 22px;
}

.header__input {
  height: 12px;
  padding: 5px;
  border: none;
  width: 100%;
  outline: none;
  margin-left: 10px;
}

.header__option {
  display: flex;
  margin: 0 5px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile */
@media (max-width: 680px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.2fr;
    grid-template-areas:
      "logo menu"
      "logo menu"
      "search search";
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .mt {
    margin-top: 10px;
  }
  .header__logo {
    grid-area: logo;
    width: 170px;
  }
  .header__search {
    grid-area: search;
    margin-top: 0;
    height: 30px;
  }
  .header__menu {
    grid-area: menu;
  }
}
