.navbar {
  margin-top: 30px;
}
.navbar__container {
  display: flex;
  align-items: center;
  color: white;
  background-color: #0f1932;
  height: 40px;
  margin: 0;
}
.navbar__category button {
  color: white;
}

.navbar__category {
  margin: 0px;
  margin-left: 20px;
}
.navbar__category:hover {
  cursor: pointer;
}
.navbar__category button span:hover {
  border-bottom: 2px solid var(--primary);
}
@media (max-width: 768px) {
  .navbar__category button {
    font-size: 12px;
  }
}
